header .headerBackground
{
	height: 380px;
	width: 100%;
	background: url('../images/headerContactImg.jpg')top left no-repeat;
	background-size: cover;
	margin-top: 60px;
	position: relative;

	.headerContactTextBloc
	{
		color: #fff;
		width: 680px;
		margin: auto;

		h2
		{
			font-style: italic;
			font-size: 136px;
			padding-top: 0;
		}

		.contactInfos
		{
			width: 80%;
			margin: auto;

			p
			{
				font-size: 26px;
				float: left;

				&:last-child
				{
					float: right;
				}

				.prefix
				{
					font-size: 20px;
				}
			}
		}
	}
}

.contactForm
{
	background-color: $backgroundHeader;
	padding: 80px 0;

	input, textarea, .textInputFile
	{
		@include box-sizing(border-box);
		font-size: 20px;
		padding-left: 10px;
		border-radius: 5px;
		border: 2px solid #dadcda;
		border-bottom: none;
		line-height: 40px;
		margin-bottom: 30px;
		color: #838789;
		background-color: #fbfcfb;

		&::-webkit-input-placeholder {
			font-family: $robotoItalic;
		}
		&::-moz-placeholder {
			font-family: $robotoItalic;
		}
		&:-moz-placeholder {   /* Older versions of Firefox */
			font-family: $robotoItalic;
		}
		&:-ms-input-placeholder {
			font-family: $robotoItalic;
		}

		&:focus
		{
			outline: none;
		}
	}

	input
	{
		&.inputName, &.inputEmail
		{
			width: 470px;
		}

		&.inputObject
		{
			width: 100%;
		}

		&[type="submit"]
		{
			border: none;
			padding: 5px 75px;
			margin-bottom: 20px;
		}
	}

	textarea
	{
		width: 100%;
		height: 235px;
		resize: none;
	}

	.requiredText
	{
		font-size: 10px;
		clear: both;
	}

	// FALSE INPUT TYPE FILE
	.fileInputStyle
	{
		position: relative;
		float: left;

		input[type="file"]
		{
			opacity: 0;
			position: absolute;
			z-index: 2;
			top: 0;
			left: 365px;
			width: 110px;
			cursor: pointer;
		}

		.textInputFile
		{
			position: absolute;
			width: 365px;
			font-family: $robotoItalic;
			border-radius: 5px 0 0 5px;
			border-right: none;
		}

		.submitInputFile
		{
			position: absolute;
			left: 365px;
			width: 110px;
			background-color: #dddfde;
			color: #838789;
			font-size: 16px;
			border-radius: 0 5px 5px 0;
			line-height: 35px;
			border: 2px solid #dadcda;
			border-left: none;
			border-bottom: none;

			&:focus
			{
				outline: none;
			}
		}
	}
}