@import "base";

/*@import 'common';
@import 'buttons';
@import 'header';
@import 'works';
@import 'about';
@import 'footer';*/

.slideshow {
    margin-top: 70px;
}

#folio
{
    padding-bottom: 50px;
    h1 {
        padding: 76px;
        font-family: 'RobotoLight', Arial, sans-serif;
        font-size: 46px;
        color: #272a2b;
        strong {
            font-weight: bold;
        }
    }
    figure {
        position: relative;
        display: inline-block;
        margin: 20px;
        width: 300px;
        border-radius: 3px;
        box-shadow: 0px 1px 1px 1px #B4B9BA;
        img {
            border-radius: 3px 3px 0px 0px;
        }
        figcaption {
            padding: 3px;
            text-align: left;
            h2 {
                font-size: 18px;
                color: #00b7df;
            }
            p {
                font-size: 14px;
                color: #434648;
            }
        }
    }
    button {
        margin: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
		background: #a6d345; /* Old browsers */
		background: -moz-linear-gradient(top, #a6d345 0%, #75b31e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a6d345), color-stop(100%,#75b31e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #a6d345 0%,#75b31e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #a6d345 0%,#75b31e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #a6d345 0%,#75b31e 100%); /* IE10+ */
		background: linear-gradient(to bottom, #a6d345 0%,#75b31e 100%); /* W3C */
        @include box-shadow(0px -1px 5px 1px rgba(50, 50, 50, 0.5));
        color: #fff;
    }
}

#catchphrase {
    margin: 0 auto;
    padding: 50px 150px;
    background-color: #e4eaea;
    color: #272a2b;
    h1 {
        font-size: 36px;
    }
    p {
        font-size: 27px;
    }
}

#convince {
    padding: 50px 120px;
    text-align: left;
    background-color: #dde0e0;
    tr td, img {
        vertical-align: top;
    }
    img {
        border-radius: 50%;
    }
    h1 {
        padding: 30px;
        font-size: 50px;
        color: #00add6;
    }
    p, a {
        padding: 10px 30px;
        font-size: 14px;
    }
    a, a:link, a:focus, a:visited, a:hover {
        color: #a6d345;
    }
}
