#wrap {
    width: 1170px;
    margin: 0 auto;
    font-family: 'RobotoRegular', Arial, sans-serif;
    text-align: center;
    background-color: #f1f7f7;
}

img {
    max-width: 100%;
}

header {
    position: fixed;
    top: 0px;
    width: 1170px;
    height: 70px;
    text-align: left;
    background-color: #FFF;
    z-index: 50;
}

header h1 {
    float: left;
    width: 125px;
    height: 75px;
    margin-top: -50px;
    padding-top: 50px;
    border: 17px solid #58d2f0;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    background-color: #49dbff;
    color: #000;
}

header nav {
    margin-left: 225px;
    padding: 25px;
    font-size: 16px;
    color: #475055;
}

header nav a, header nav a:link, header nav a:visited, header nav a:hover {
    color: #333;
    text-decoration: none;
}

header .social {
    float: right;
    vertical-align: middle;
}

.slideshow {
    margin-top: 70px;
}

#folio h1 {
    padding: 76px;
    font-family: 'RobotoLight', Arial, sans-serif;
    font-size: 46px;
    color: #272a2b;
}

#folio h1 strong {
    font-weight: bold;
}

#folio figure {
    position: relative;
    display: inline-block;
    margin: 20px;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 1px #B4B9BA;
}

#folio figure img {
    border-radius: 3px 3px 0px 0px;
}

#folio figure figcaption {
    padding: 3px;
    text-align: left;
}

#folio figure figcaption h2 {
    font-size: 18px;
    color: #00b7df;
}

#folio figure figcaption p {
    font-size: 14px;
    color: #434648;
}

#folio button {
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: #99cc33;
    color: #fff;
}

#catchphrase {
    /*max-width: 600px;*/
    margin: 0 auto;
    padding: 50px 150px;
    background-color: #e4eaea;
    color: #272a2b;
}

#catchphrase h1 {
    font-size: 36px;
}

#catchphrase p {
    font-size: 27px;
}

#convince {
    padding: 50px 120px;
    text-align: left;
    background-color: #dde0e0;
}

#convince tr td, #convince img {
    vertical-align: top;
}

#convince img {
    border-radius: 50%;
}

#convince h1 {
    padding: 10px;
    font-size: 50px;
    color: #00add6;
}

#convince p, #convince a {
    padding: 10px;
}

footer {
    background-color: #272a2b;
    color: #83878a;
}

footer p {
    padding: 20px 50px;
}

footer p:first-child {
    border-bottom: solid 1px #232121;
}

footer p:last-child {
    border-top: solid 1px #3D4041;
}
